<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Washington Dealership - Confirm Purchase</title>

	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	
</head>

<body>
	<!-- urls of page -->
	<div id="urlGet" name="/get/cart"></div>
	<!-- Navigation -->
	<div id="header-navbar"></div>

	<!-- Page Content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center order-1 mt-5">
				<h1 class="mt-5">Cart</h1>
                <p class="lead">Confirm your purchase</p>
                <div id="results"></div>
            </div>
		</div>		
        <div class="row mt-5">    
            <div class="text-center col-12 order-4 mb-5">
                <button id="button_confirm" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                    <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                    <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                  </svg> Confirm purchase</button>
            </div>
        </div>
	</div>
	<!-- Footer -->
	<div id="footer"></div>
	
	<!-- Bootstrap core JavaScript -->
    <script src="js/jquery.js"></script>
    <script src="bootstrap-4.4.1/dist/js/bootstrap.js"></script>
    <script src="js/table.js"></script>
    <script src="js/cart.js"></script>
	<script src="js/navigation.js"></script>
    <script src="js/footer.js"></script>
</body>

</html>