<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Washington Dealership - Buy your Car</title>

	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	
</head>

<body>
	<!-- Navigation -->
	<div id="header-navbar"></div>

	<!-- Page Content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center order-1 mt-5">
				<h1 class="mt-5">Washington Dealership</h1>
				<p class="lead">Click on the vehicle you want to buy</p>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-sm-6">
				<div class="card">
					<img src="img/hb20.jpg" class="card-img-top">
					<div class="card-body">
						<h4 class="card-title">Buy your Car</h4>
						<p class="card-text">Buy a car customized to your liking.</p>
						<a href="car" class="card-link">Go</a>					
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card">
					<img src="img/honda_cb_1000r.jpg" class="card-img-top">
					<div class="card-body">
						<h4 class="card-title">Buy your Motorcycle</h4>
						<p class="card-text">Buy a motorcycle customized to your liking.</p>
						<a href="motorcycle" class="card-link">Go</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<div id="footer"></div>
	
	<!-- Bootstrap core JavaScript -->
	<script src="js/jquery.min.js"></script>
	<script src="bootstrap-4.4.1/dist/js/bootstrap.js"></script>
	<script src="js/navigation.js"></script>
	<script src="js/footer.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			const item_about = document.querySelector('#home-nav')
			item_about.classList.toggle('active')
		})
	</script>
</body>

</html>