<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Washington Dealership - Buy Car</title>

	<!-- Bootstrap core CSS -->
	<link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
	
</head>

<body>
	<div id="urlGet" name="/get/car"></div>
	<!-- Navigation -->
	<div id="header-navbar"></div>

	<!-- Page Content -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center order-1 mt-5">
				<h1 class="mt-5">Buy Car</h1>
				<p class="lead">Select your entrees from the menu below</p>
			</div>
			<div class="col-lg-4 order-2">
				<div class="col-lg-12">
					<form id="form-add" enctype="application/json" action="/post/json/add_car" method="post">
						<div class="form-group">
							<select class="form-control" name="sec_add">
								<option value="0">Car</option>
								<option value="1">Model</option>
								<option value="2">Accessory</option>
								<option value="3">Doors</option>
							</select>
							<input class="form-control mt-3" type="text" name="item_add" id="item_add" placeholder="Item">
							<input class="form-control mt-3" type="text" name="price_add" id="price_add" placeholder="Price">
							<button form="form-add" type="submit" class="btn btn-success btn-block mt-3">Add</button>
						</div>
					</form>
					<form id="form-rm" enctype="application/json" action="/post/json/rm_car" method="post">
						<div class="form-group mt-5">
							<select class="form-control" name="sec_rm">
								<option value="0">Car</option>
								<option value="1">Model</option>
								<option value="2">Accessory</option>
								<option value="3">Doors</option>
							</select>
							<input class="form-control mt-3" type="text" id="item_rm" name="item_rm" placeholder="Item">
							<button form="form-rm" type="submit" class="btn btn-danger btn-block mt-3">Remove</button>
						</div>
					</form>
				</div>
				</div>
				<div class="form-group col-lg-8 order-3 table-center mb-2 order-2 ">
					<form form="form-cart" enctype="application/json" action="/get/html/cart/car" method="get">
						<div id="results" class=""></div>
						<div class="text-center col-12 order-4 mb-5">
							<button form="form-cart" type="submit" class="btn btn-primary">Add To Cart</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<div id="footer"></div>
	
	<!-- Bootstrap core JavaScript -->
	<script src="js/jquery.min.js"></script>
	<script src="bootstrap-4.4.1/dist/js/bootstrap.js"></script>
	<script src="js/table.js"></script>
	<script src="js/navigation.js"></script>
	<script src="js/footer.js"></script>
	<script src="js/manager_list.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			// const item_about = document.querySelector('#home-nav')
			// item_about.classList.toggle('active')
		})
	</script>
</body>

</html>